.custom-container{
    text-align: center;
}

.button-inerface{
    padding: 30px;
}

.custom-btn{
    cursor: pointer;
    outline: none;
}

.custom-btn:active{
    outline: none;
}

.data-render-list{

}